/* CSS styles for Memoji game */

body {
    font-family: Arial, sans-serif;
    background-color: #cfd0cf;
    color: #434344;
}

h1 {
    font-size: 42px;
    line-height: 47px;
    text-align: center;
}

/*------------------ Grid layout -------------------*/

#game {
    display: grid;
    grid-template: 130px 130px 130px / 130px 130px 130px 130px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    justify-content: center;
}

/*------------------ Cards -------------------*/
.card {
    position: relative;
    box-sizing: border-box;
    width: 130px;
    height: 130px;

    perspective: 600px;
    transform-style: preserve-3d;
}

.front {
    background: linear-gradient(to right top, #22ab93, #19668d);
}

.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;

    box-sizing: inherit;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    border: 5px solid #ffffff;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    cursor: pointer;

    transition: transform .4s;
    backface-visibility: hidden;
}

.back {
    background-color: #ffffff;
    font-size: 75px;
    text-align: center;

    transform: rotateY(180deg);
}

/*------------------ Flip -------------------*/
.flip .front {
    transform: rotateY(180deg);
}

.flip .back {
    transform: rotateY(360deg);
}

/*-------- Correct/Wrong highlights ----------*/

.wrong .back {
    background-color: #f44336;
    border-color: #f44336;
}

.correct .back {
    background-color: #5ad66f;
    border-color: #5ad66f;
    cursor: default;
}

/*-------------------- Timer ----------------*/

#timer {
    text-align: center;
    padding: 30px 0;
}
.time {
    font-size: 32px;
    font-weight: bolder;
    line-height: 36px;
}

/*-------------------- Result ----------------*/

#lose-message, #win-message {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    display: none;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

#lose__input, #win__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 350px;
    background-color: #ffffff;

    text-align: center;

    padding: 30px 0;
}

.result-text {
    font-size: 48px;
    margin: 0 0 0 10px;
    font-weight: bold;
}

.restart-button {
    display: inline-block;
    margin-top: 40px;
}

.restart-button__label {
    padding: 10px 30px;
    height: 40px;

    font-size: 20px;
    color: white;
    border: none;
    background: linear-gradient(to right, #22ab93, #19668d);

    box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.restart-button__label:focus {
    outline: none;
    box-shadow: inset 2px 1px 8px rgba(0,0,0,.5);
}

.message-on {
    display: inline-block !important;
}

/*--------------- Result text animation -----------*/

.result-text span {
    display: inline-block;
    margin-left: -10px;
}

.result-text span:nth-child(1) {
    animation: bounce 1s linear infinite;
}

.result-text span:nth-child(2) {
    animation: bounce 1s .1s linear infinite;
}

.result-text span:nth-child(3) {
    animation: bounce 1s .2s linear infinite;
}

.result-text span:nth-child(4) {
    animation: bounce 1s .3s linear infinite;
}

@keyframes bounce {
    0% {transform: scaleY(1)}
    25% {transform: scaleY(1.4) translateY(-20%)}
    75% {transform: scaleY(.6) translateY(+20%)}
    100% {transform: scaleY(1) translateY(0%)}
}